{% if resultatComment is empty  %}
    <div class="row justify-content-center">
        <p>Il n'y a pas de commentaire pour le moment sur cet article!</p>
    </div>
{% else %}
    {% for comment in resultatComment %}
        {% if comment.signaler != 1 %}
            <div class="row justify-content-center">
                <div class="resultatComment">
                    <div class="row mb-3">
                        <div class="articleUser">
                            {% if comment.idUtilisateur.photo is empty %}
                                <img class="pictureProfilComment" src="{{ asset('asset/img/user_nopic.png') }}" alt="nopic">
                            {% else %}
                                <img class="pictureProfilComment" src="{{ asset('asset/img/profil/') }}{{  comment.idUtilisateur.photo }}" alt="profil picture">
                            {% endif %}
                            <span class="pseudoComment">Par {{ comment.idUtilisateur.pseudo }}</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <p class="textComment">{{  comment.commentaire }}</p>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <a class="signaledcomment" href="{{ path('comments_signaled', {'id' : comment.id }) }}">
                                Signaler ce commentaire
                            </a>
                            {% if comment.idUtilisateur is same as (app.user) %}
                                <a class="btn btn-warning"
                                   href="{{ path('modifier_commentaire', {'id' : comment.id }) }}">
                                    Modifier
                                </a>
                                <a class="btn btn-danger"
                                   href="{{ path('commentaire_delete', {'id' : comment.id }) }}">
                                    Supprimer
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 datecomment">
                            <span >le {{ comment.datePost |date('d/m/Y à H:m:s') }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}