{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center mt-5 mb-3 mt-2">Mon compte</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 text-center">
                {% if app.user.photo is empty %}
                    <img class="pictureProfil mt-2 mb-3" src="{{ asset('asset/img/user-cirle-regular.svg') }}" alt="nopic">
                {% else %}
                    <img class="pictureProfil mt-2 mb-3" src="{{ asset('asset/img/profil/') }}{{ app.user.photo }}" alt="profil picture">
                {% endif %}
                <p>Inscrit depuis le {{ app.user.dateInscription | date('d/m/Y à H:m:s') }}</p>
                <p>
                    <a class="btn btn-primary mt-2" href="{{ path('user_edit', {'id' : app.user.id })  }}">Modifier votre profil</a>
                    <a class="btn btn-primary mt-2" href="{{ path('password_edit', {'userId' : app.user.id })  }}">Modifier mot de passe</a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 profilDesc">
                <p><span class="spanProfil">Pseudo :</span> {{ app.user.pseudo  }}</p>
                <p><span class="spanProfil">Email :</span> {{ app.user.emailUtilisateur }}</p>
                <p><span class="spanProfil">Statut :</span> {{ app.user.status |capitalize }}</p>
                {% if  app.user.prenom is empty %}
                    <p><span class="spanProfil">Prénom :</span> non renseigné</p>
                {% else %}
                    <p><span class="spanProfil">Prénom :</span> {{ app.user.prenom |capitalize }}</p>
                {% endif %}
                {% if  app.user.nom is empty %}
                    <p><span class="spanProfil">Nom :</span> non renseigné</p>
                {% else %}
                    <p><span class="spanProfil">Nom :</span> {{ app.user.nom }}</p>
                {% endif %}
                <p><span class="spanProfil">Date de naissance :</span> {{ app.user.naissance |date('d/m/Y') }}</p>
                {% if  app.user.sexe == 0 %}
                    <p><span class="spanProfil">sexe :</span> Homme</p>
                {% else %}
                    <p><span class="spanProfil">sexe :</span> Femme</p>
                {% endif %}
                {% if  app.user.ville is empty %}
                    <p><span class="spanProfil">Ville :</span> non renseigné</p>
                {% else %}
                    <p><span class="spanProfil">Ville :</span> {{ app.user.ville }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Mes commentaires
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="table-responsive-sm">
                                <table class="table my-5">
                                    <tr>
                                        <th>Id</th>
                                        <th>Pseudo<br> email</th>
                                        <th>Photo</th>
                                        <th>Article commenté</th>
                                        <th>Commentaire</th>
                                        <th>Statut <br> Date de création</th>
                                        <th class="tabAcion">Action</th>
                                    </tr>
                                    {% for comments in pagination %}
                                        {%if comments.signaler == 1  %}
                                            <tr class="red">
                                        {% else %}
                                            <tr class="green">
                                        {% endif %}
                                            <td class="middle">
                                                <a class="articleLienAdmin" target="_blank" href="{{ path('article', {'id' : comments.idArticle.id}) }}">
                                                    <span>{{ comments.id }}</span>
                                                </a>
                                            </td>
                                            <td class="middle">
                                                <span>{{ comments.idUtilisateur.pseudo }}</span>
                                                <br>
                                                <span>{{ comments.idUtilisateur.emailUtilisateur }}</span>
                                            </td>
                                            <td class="middle">
                                                <img class="imgTab" src="{{ asset('asset/img/profil/') }}{{ comments.idUtilisateur.photo }}">
                                            </td>
                                            <td class="middle">
                                                <a class="articleLienAdmin" target="_blank" href="{{ path('article', {'id' : comments.idArticle.id}) }}">
                                                    <span>{{ comments.idArticle.titre }}</span>
                                                </a>
                                            </td>
                                            <td class="middle"><span>{{ comments.commentaire }}</span></td>
                                            <td class="middle">
                                                <span>
                                                    {% if comments.signaler == 1 %}
                                                        Signaler
                                                    {% else %}
                                                        Publier
                                                    {% endif %}
                                                    <br><br>
                                                    {{ comments.datePost |date('d/m/Y à H:m:s') }}
                                                </span>
                                            </td>
                                            <td>
                                                <a class="btn btn-warning"
                                                   href="{{ path('modifier_commentaire', {'id' : comments.id }) }}">
                                                    Modifier
                                                </a>
                                                <a class="btn btn-danger"
                                                   href="{{ path('commentaire_delete', {'id' : comments.id }) }}">
                                                    Supprimer
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}