{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center mt-5 mb-3">Gestion des Commentaires</h1>
    <div class="container-fluid text-center">
        <div class="text-center">
            <a class="btn btn-primary" href="#">Ajouter un Commentaire</a>
        </div>
        <div class="table-responsive-sm">
            <table class="table my-5">
                <tr>
                    <th>Id</th>
                    <th>Pseudo<br> email</th>
                    <th>Article commenté</th>
                    <th>Commentaire</th>
                    <th>Statut <br> Date de création</th>
                    <th class="tabAcion">Action</th>
                </tr>
                {% for comments in pagination %}
                    {%if comments.signaler != 1  %}
                        <tr class="red">
                    {% else %}
                        <tr class="green">
                    {% endif %}
                        <td class="middle">
                            <a class="articleLienAdmin" target="_blank" href="{{ path('article', {'articleId' : comments.idArticle.id}) }}">
                                <span>{{ comments.id }}</span>
                            </a>
                        </td>
                        <td class="middle">
                            <span>{{ comments.idUtilisateur.pseudo }}</span>
                            <br>
                            <span>{{ comments.idUtilisateur.email }}</span>
                        </td>
                        <td class="middle">
                            <a class="articleLienAdmin" target="_blank" href="{{ path('article', {'articleId' : comments.idArticle.id}) }}">
                                <span>{{ comments.idArticle.titre }}</span>
                            </a>
                        </td>
                        <td class="middle"><span>{{ comments.commentaire }}</span></td>
                        <td class="middle">
                            <span>
                                {% if comments.signaler == 1 %}
                                    Signaler
                                {% else %}
                                    Publier
                                {% endif %}
                                <br><br>
                                {{ comments.datePost |date('d/m/Y à H:m:s') }}
                            </span>
                        </td>
                        <td class="middle">
                            <a class="btn btn-primary"
                               href="#">
                                Status
                            </a>
                            <a class="btn btn-danger"
                               href="#">
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}